In [46]:
import pandas as pd
import csv as csv
import matplotlib.pyplot as plt

In [47]:
traffic_data = pd.read_csv("traffic_accidents.csv")

In [48]:
traffic_data.drop(labels=["GEO_X","GEO_Y","OBJECTID_1","INCIDENT_ID","OFFENSE_ID","LAST_OCCURENCE_DATE","REPORTED_DATE"],axis=1,inplace=True)

In [49]:
traffic_data.rename(columns={"FIRST_OCCURENCE_DATE":"ACCIDENT_DATE","GEO_LON":"LON","GEO_LAT":"LAT"},inplace=True)
traffic_data.head()

,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,ACCIDENT_DATE,INCIDENT_ADDRESS,LON,LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,BICYCLE_IND,PEDESTRIAN_IND
0,5401,0,TRAF-HIT & RUN,TRAF - ACCIDENT - HIT & RUN,2012-11-02 18:20:00,1900 BLOCK S SHERIDAN BLVD,-105.052849,39.682112,4,421,Harvey Park,0,0
1,5441,0,TRF-ACCIDENT,TRAF - ACCIDENT,2012-11-05 14:16:00,E HAMPDEN AVE / S YOSEMITE ST,-104.884786,39.653067,3,323,Hampden South,0,0
2,5401,0,TRAF-HIT & RUN,TRAF - ACCIDENT - HIT & RUN,2012-04-02 17:00:00,1300 BLOCK N BROADWAY ST,-104.986886,39.737147,6,623,Capitol Hill,0,0
3,5441,0,TRF-ACCIDENT,TRAF - ACCIDENT,2012-06-11 17:05:00,600 BLOCK E EXPOSITION AVE,-104.979833,39.703898,3,311,Washington Park West,0,0
4,5441,0,TRF-ACCIDENT,TRAF - ACCIDENT,2012-03-23 11:01:00,I25 HWYSB / W COLFAX AVE,-105.014162,39.740439,1,121,Lincoln Park,0,0

In [50]:
#traffic_data.dtypes
date_split = traffic_data["ACCIDENT_DATE"].str.split(" ",expand=True,n=1)
traffic_data["DATE"] = date_split[0]
traffic_data["TIME"] = date_split[1]
date_split = traffic_data["DATE"].str.split("-",expand=True,n=2)
traffic_data["YEAR"] = date_split[0]
traffic_data["MONTH"] = date_split[1]
traffic_data["DAY"] = date_split[2]
traffic_data.drop(labels=["ACCIDENT_DATE","DATE"],axis=1,inplace=True)
traffic_data = traffic_data[['OFFENSE_CODE','OFFENSE_CODE_EXTENSION','YEAR','MONTH','DAY','TIME','LON','LAT','DISTRICT_ID','PRECINCT_ID','NEIGHBORHOOD_ID','BICYCLE_IND','PEDESTRIAN_IND']]
traffic_data.head()

,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,YEAR,MONTH,DAY,TIME,LON,LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,BICYCLE_IND,PEDESTRIAN_IND
0,5401,0,2012,11,02,18:20:00,-105.052849,39.682112,4,421,Harvey Park,0,0
1,5441,0,2012,11,05,14:16:00,-104.884786,39.653067,3,323,Hampden South,0,0
2,5401,0,2012,04,02,17:00:00,-104.986886,39.737147,6,623,Capitol Hill,0,0
3,5441,0,2012,06,11,17:05:00,-104.979833,39.703898,3,311,Washington Park West,0,0
4,5441,0,2012,03,23,11:01:00,-105.014162,39.740439,1,121,Lincoln Park,0,0

In [51]:
traffic_data_groupby_year = traffic_data.groupby(by="YEAR")
traffic_data_groupby_year.count()

,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,MONTH,DAY,TIME,LON,LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,BICYCLE_IND,PEDESTRIAN_IND
YEAR,,,,,,,,,,,,
2012,20560,20560,20560,20560,20560,20560,20560,20560,20560,20560,20560,20560
2013,21182,21182,21182,21182,21182,21182,21182,21182,21182,21182,21182,21182
2014,22444,22444,22444,22444,22444,22444,22444,22444,22444,22444,22444,22444
2015,23842,23842,23842,23842,23842,23842,23842,23842,23842,23842,23842,23842
2016,24254,24254,24254,24254,24254,24254,24254,24254,24254,24254,24254,24254
2017,24617,24617,24617,24617,24617,24617,24617,24617,24617,24617,24617,24617
2018,24905,24905,24905,24905,24905,24905,24905,24905,24905,24905,24905,24905
2019,5611,5611,5611,5611,5611,5611,5611,5611,5611,5611,5611,5611

In [55]:
traffic_data_groupby_offense = traffic_data.groupby(by=["OFFENSE_CODE","OFFENSE_CODE_EXTENSION"])
traffic_data_groupby_offense.count()

                                       YEAR   MONTH     DAY    TIME     LON  \
OFFENSE_CODE OFFENSE_CODE_EXTENSION
5401         0                        44677   44677   44677   44677   44677
5420         0                         5178    5178    5178    5178    5178
5441         0                       113278  113278  113278  113278  113278
             1                         2297    2297    2297    2297    2297
             2                          343     343     343     343     343
             3                         1642    1642    1642    1642    1642

                                        LAT  DISTRICT_ID  PRECINCT_ID  \
OFFENSE_CODE OFFENSE_CODE_EXTENSION
5401         0                        44677        44677        44677
5420         0                         5178         5178         5178
5441         0                       113278       113278       113278
             1                         2297         2297         2297
             2                          343          343          343
             3                         1642         1642         1642

                                     NEIGHBORHOOD_ID  BICYCLE_IND  \
OFFENSE_CODE OFFENSE_CODE_EXTENSION
5401         0                                 44677        44677
5420         0                                  5178         5178
5441         0                                113278       113278
             1                                  2297         2297
             2                                   343          343
             3                                  1642         1642

                                     PEDESTRIAN_IND
OFFENSE_CODE OFFENSE_CODE_EXTENSION
5401         0                                44677
5420         0                                 5178
5441         0                               113278
             1                                 2297
             2                                  343
             3                                 1642

In [56]:
traffic_data_groupby_offenseandyear = traffic_data.groupby(by=["OFFENSE_CODE","OFFENSE_CODE_EXTENSION","YEAR"])
traffic_data_groupby_offenseandyear.count()

                                          MONTH    DAY   TIME    LON    LAT  \
OFFENSE_CODE OFFENSE_CODE_EXTENSION YEAR
5401         0                      2012   6129   6129   6129   6129   6129
                                    2013   5359   5359   5359   5359   5359
                                    2014   5577   5577   5577   5577   5577
                                    2015   5933   5933   5933   5933   5933
                                    2016   6444   6444   6444   6444   6444
                                    2017   6809   6809   6809   6809   6809
                                    2018   6861   6861   6861   6861   6861
                                    2019   1565   1565   1565   1565   1565
5420         0                      2012    707    707    707    707    707
                                    2013    731    731    731    731    731
                                    2014    815    815    815    815    815
                                    2015    779    779    779    779    779
                                    2016    692    692    692    692    692
                                    2017    608    608    608    608    608
                                    2018    698    698    698    698    698
                                    2019    148    148    148    148    148
5441         0                      2012  13284  13284  13284  13284  13284
                                    2013  14518  14518  14518  14518  14518
                                    2014  15474  15474  15474  15474  15474
                                    2015  16506  16506  16506  16506  16506
                                    2016  16476  16476  16476  16476  16476
                                    2017  16583  16583  16583  16583  16583
                                    2018  16697  16697  16697  16697  16697
                                    2019   3740   3740   3740   3740   3740
             1                      2012    234    234    234    234    234
                                    2013    295    295    295    295    295
                                    2014    348    348    348    348    348
                                    2015    334    334    334    334    334
                                    2016    354    354    354    354    354
                                    2017    312    312    312    312    312
                                    2018    346    346    346    346    346
                                    2019     74     74     74     74     74
             2                      2012     33     33     33     33     33
                                    2013     43     43     43     43     43
                                    2014     44     44     44     44     44
                                    2015     54     54     54     54     54
                                    2016     50     50     50     50     50
                                    2017     48     48     48     48     48
                                    2018     59     59     59     59     59
                                    2019     12     12     12     12     12
             3                      2012    173    173    173    173    173
                                    2013    236    236    236    236    236
                                    2014    186    186    186    186    186
                                    2015    236    236    236    236    236
                                    2016    238    238    238    238    238
                                    2017    257    257    257    257    257
                                    2018    244    244    244    244    244
                                    2019     72     72     72     72     72

                                          DISTRICT_ID  PRECINCT_ID  \
OFFENSE_CODE OFFENSE_CODE_EXTENSION YEAR
5401         0                      2012         6129         6129
                                    2013         5359         5359
                                    2014         5577         5577
                                    2015         5933         5933
                                    2016         6444         6444
                                    2017         6809         6809
                                    2018         6861         6861
                                    2019         1565         1565
5420         0                      2012          707          707
                                    2013          731          731
                                    2014          815          815
                                    2015          779          779
                                    2016          692          692
                                    2017          608          608
                                    2018          698          698
                                    2019          148          148
5441         0                      2012        13284        13284
                                    2013        14518        14518
                                    2014        15474        15474
                                    2015        16506        16506
                                    2016        16476        16476
                                    2017        16583        16583
                                    2018        16697        16697
                                    2019         3740         3740
             1                      2012          234          234
                                    2013          295          295
                                    2014          348          348
                                    2015          334          334
                                    2016          354          354
                                    2017          312          312
                                    2018          346          346
                                    2019           74           74
             2                      2012           33           33
                                    2013           43           43
                                    2014           44           44
                                    2015           54           54
                                    2016           50           50
                                    2017           48           48
                                    2018           59           59
                                    2019           12           12
             3                      2012          173          173
                                    2013          236          236
                                    2014          186          186
                                    2015          236          236
                                    2016          238          238
                                    2017          257          257
                                    2018          244          244
                                    2019           72           72

                                          NEIGHBORHOOD_ID  BICYCLE_IND  \
OFFENSE_CODE OFFENSE_CODE_EXTENSION YEAR
5401         0                      2012             6129         6129
                                    2013             5359         5359
                                    2014             5577         5577
                                    2015             5933         5933
                                    2016             6444         6444
                                    2017             6809         6809
                                    2018             6861         6861
                                    2019             1565         1565
5420         0                      2012              707          707
                                    2013              731          731
                                    2014              815          815
                                    2015              779          779
                                    2016              692          692
                                    2017              608          608
                                    2018              698          698
                                    2019              148          148
5441         0                      2012            13284        13284
                                    2013            14518        14518
                                    2014            15474        15474
                                    2015            16506        16506
                                    2016            16476        16476
                                    2017            16583        16583
                                    2018            16697        16697
                                    2019             3740         3740
             1                      2012              234          234
                                    2013              295          295
                                    2014              348          348
                                    2015              334          334
                                    2016              354          354
                                    2017              312          312
                                    2018              346          346
                                    2019               74           74
             2                      2012               33           33
                                    2013               43           43
                                    2014               44           44
                                    2015               54           54
                                    2016               50           50
                                    2017               48           48
                                    2018               59           59
                                    2019               12           12
             3                      2012              173          173
                                    2013              236          236
                                    2014              186          186
                                    2015              236          236
                                    2016              238          238
                                    2017              257          257
                                    2018              244          244
                                    2019               72           72

                                          PEDESTRIAN_IND
OFFENSE_CODE OFFENSE_CODE_EXTENSION YEAR
5401         0                      2012            6129
                                    2013            5359
                                    2014            5577
                                    2015            5933
                                    2016            6444
                                    2017            6809
                                    2018            6861
                                    2019            1565
5420         0                      2012             707
                                    2013             731
                                    2014             815
                                    2015             779
                                    2016             692
                                    2017             608
                                    2018             698
                                    2019             148
5441         0                      2012           13284
                                    2013           14518
                                    2014           15474
                                    2015           16506
                                    2016           16476
                                    2017           16583
                                    2018           16697
                                    2019            3740
             1                      2012             234
                                    2013             295
                                    2014             348
                                    2015             334
                                    2016             354
                                    2017             312
                                    2018             346
                                    2019              74
             2                      2012              33
                                    2013              43
                                    2014              44
                                    2015              54
                                    2016              50
                                    2017              48
                                    2018              59
                                    2019              12
             3                      2012             173
                                    2013             236
                                    2014             186
                                    2015             236
                                    2016             238
                                    2017             257
                                    2018             244
                                    2019              72